:root {
  --color-white: #ffffff;
  --color-smoke-white: #f5f5f5;
  --color-dark-white: #f5f4fa;
  --color-blue: #2196f3;
  --color-dark-blue: #188ce8;
  --color-light-grey: #afb1b8;
  --color-grey: #757575;
  --color-dark: #2f303a;
  --color-almost-black: #212121;
  --color-black-transparent: #ffffff1a;
  --color-black-allmost-transperent: var(--color-black-allmost-transperent);
  --color-black: #000000;
  --color-border-one: #ececec;
  --color-border-two: #eeeeee;
  --default-font-size: 14px;
  --default-letter-spacing: var(--default-letter-spacing);
  --default-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --default-animation-duration: 250ms;
}

.animation-container {
  overflow: hidden;
  position: relative;
}
.animation-container__element {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  color: var(--color-white);
  background-color: var(--color-blue);
  opacity: 0.9;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}

ul,
h1,
h2,
h3,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: var(--default-font-size);
  letter-spacing: var(--default-letter-spacing);
  color: var(--color-almost-black);
  background-color: var(--color-white);
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.submit-button {
  width: 216px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-white);
  background-color: var(--color-blue);
  -webkit-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
  cursor: pointer;
}
.submit-button__svg {
  margin-left: 10px;
  fill: currentColor;
}
.submit-button:hover {
  background-color: var(--color-dark-blue);
}
.submit-button:focus {
  background-color: var(--color-dark-blue);
}

.slide-bar-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.slide-bar-button__image {
  fill: var(--color-almost-black);
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.slide-bar-button__image:hover {
  fill: var(--color-blue);
}
@media screen and (min-width: 768px) {
  .slide-bar-button {
    display: none;
  }
}

.section-caption {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1717857143;
}
@media screen and (min-width: 1200px) {
  .section-caption {
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 16px;
}
.social-media__item {
  width: 44px;
  height: 44px;
}
.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-light-grey);
  border-radius: 50%;
  -webkit-transition: color, background-color;
  transition: color, background-color;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.social-media__image {
  fill: currentColor;
}
.social-media-footer {
  padding: 0;
}
.social-media__link-footer {
  color: var(--color-white);
  background-color: var(--color-black-transparent);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.1666666667;
  text-decoration: none;
  cursor: default;
  color: var(--color-black);
}
.logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo__first-word {
  color: var(--color-blue);
}
.logo--white {
  height: 31px;
  color: var(--color-white);
  margin-bottom: 20px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .logo--white {
    height: 31px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.192;
  }
  .logo--white {
    height: 31px;
    padding: 0;
  }
}

.navigation-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 93px;
    gap: 50px;
  }
  .navigation-list__link {
    display: block;
    padding: 32px 0;
    position: relative;
    line-height: 16px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-almost-black);
    -webkit-transition: color;
    transition: color;
    -webkit-transition-duration: var(--default-animation-duration);
            transition-duration: var(--default-animation-duration);
    -webkit-transition-timing-function: var(--default-animation);
            transition-timing-function: var(--default-animation);
  }
  .navigation-list__link:hover {
    color: var(--color-blue);
  }
  .navigation-list__link:focus {
    color: var(--color-blue);
  }
  .navigation-list__link--selected {
    color: var(--color-blue);
  }
  .navigation-list__link--selected::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: var(--color-blue);
    border-radius: 2px;
  }
}
.header-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
  .header-contacts__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-grey);
    -webkit-transition: color;
    transition: color;
    -webkit-transition-duration: var(--default-animation-duration);
            transition-duration: var(--default-animation-duration);
    -webkit-transition-timing-function: var(--default-animation);
            transition-timing-function: var(--default-animation);
  }
  .header-contacts__element.email .header-contacts__icon {
    height: 10px;
    width: 14px;
  }
  .header-contacts__element.phone .header-contacts__icon {
    height: 14px;
    width: 10px;
  }
  .header-contacts__element:hover, .header-contacts__element:focus {
    color: var(--color-blue);
  }
  .header-contacts__icon {
    fill: currentColor;
    margin-right: 10px;
    line-height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    height: 16px;
    padding: 32px 0;
  }
  .header-contacts__element {
    font-size: 16px;
    line-height: 1.143;
  }
  .header-contacts__element.email .header-contacts__icon {
    height: 12px;
    width: 16px;
  }
  .header-contacts__element.phone .header-contacts__icon {
    height: 16px;
    width: 10px;
  }
}

.order-section {
  padding: 118px 0;
  max-width: 1600px;
  margin: auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-480.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-480.jpg");
  background-color: var(--color-dark);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 320px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .order-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-960.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-960.jpg");
  }
}
@media screen and (min-width: 768px) {
  .order-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-768.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .order-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-1536.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1536.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .order-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-1600.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1600.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .order-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-3200.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-3200.jpg");
  }
}
.order-section__caption {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: var(--color-white);
}
@media screen and (min-width: 1200px) {
  .order-section {
    padding: 200px 0;
  }
  .order-section__caption {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.364;
  }
}

.modal-form {
  padding: 40px;
  width: 100%;
}
.modal-form__sign {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin: 0 auto;
  margin-bottom: 12px;
  color: var(--color-almost-black);
  text-align: center;
}
.modal-form__submit-button {
  width: 200px;
  margin: 0 auto;
  display: block;
}

.input-box {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.input-box__image {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--color-almost-black);
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.input-box__input:focus + .input-box__image {
  fill: var(--color-blue);
}
.input-box__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border;
  transition: border;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.input-box__description {
  margin-bottom: 4px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
.input-box--bigger-margin {
  margin-bottom: 25px;
}
.input-box__input--textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.input-box--policy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.input-box__checkbox-image {
  fill: var(--color-white);
  border: 2px solid var(--color-almost-black);
  border-radius: 2px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: background-color, border-color, fill;
  transition: background-color, border-color, fill;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.input-box__checkbox {
  position: absolute;
  visibility: hidden;
  width: 0px;
  height: 0px;
  pointer-events: none;
}
.input-box__checkbox:checked + .input-box__checkbox-image {
  fill: var(--color-blue);
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}
.input-box__policy-text {
  font-size: var(--default-font-size);
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
  color: var(--color-grey);
}
.input-box__policy-link {
  color: var(--color-blue);
  font-size: var(--default-font-size);
  line-height: 1.7142857143;
}
.input-box__input:focus {
  border-color: var(--color-blue);
}
@media screen and (min-width: 1200px) {
  .input-box__policy-text {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.fiture-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .fiture-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.fiture-element {
  width: 270px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 100%;
}
.fiture-element__svg-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: var(--color-dark-white);
  border-radius: 4px;
}
.fiture-element__caption {
  font-size: var(--default-font-size);
  line-height: 1.143;
  text-transform: uppercase;
  text-align: center;
}
.fiture-element__description {
  line-height: 1.714;
  margin: 0;
  margin-top: 10px;
  color: var(--color-grey);
}
@media screen and (min-width: 768px) {
  .fiture-element {
    min-width: 40%;
  }
  .fiture-element__caption {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .fiture-element {
    min-width: auto;
  }
}

.about-us-section {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .about-us-section {
    display: block;
  }
}

.about-us-list {
  gap: 30px;
}
.about-us-list__element {
  position: relative;
}
.about-us-list__image {
  display: block;
}
.about-us-list__caption {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
@media screen and (min-width: 768px) {
  .about-us-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.our-team-section {
  background-color: var(--color-dark-white);
}

.our-team-list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.our-team-list__element {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
  flex-grow: 1;
  min-width: 100%;
}
.our-team-list__image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 100%;
  display: block;
}
@media screen and (min-width: 768px) {
  .our-team-list__element {
    min-width: 45%;
  }
}
@media screen and (min-width: 1200px) {
  .our-team-list__element {
    min-width: auto;
  }
}

.person-info {
  padding: 30px 32px;
}
.person-info__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  margin-bottom: 10px;
  text-align: center;
}
.person-info__description {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: var(--color-grey);
}
.person-info__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.our-clients-element {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 40%;
}
.our-clients-element__link {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-light-grey);
  border: 1px solid var(--color-light-grey);
  border-radius: 4px;
  -webkit-transition: color, border;
  transition: color, border;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.our-clients-element__link:hover, .our-clients-element__link:focus {
  color: var(--color-blue);
  border-color: var(--color-blue);
}
.our-clients-element__image {
  display: block;
  position: absolute;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .our-clients-element {
    width: 30%;
    min-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .our-clients-element {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    min-width: 170px;
    width: 170px;
  }
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    width: auto;
    max-width: auto;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 0;
  }
}

.adress-info__adress {
  width: 231px;
  height: 21px;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
  color: var(--color-white);
}
.adress-info__element {
  margin: auto;
  width: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.adress-info__contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  color: var(--color-grey);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.adress-info__contact:hover, .adress-info__contact:focus {
  color: var(--color-blue);
}
@media screen and (min-width: 768px) {
  .adress-info {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .adress-info__element {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .adress-info__adress {
    text-align: start;
  }
}

.footer-social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.footer-social__caption {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .footer-social {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 70px;
    width: auto;
    margin-bottom: 0;
  }
}

.footer-mailing {
  width: 100%;
}
.footer-mailing__caption {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
}
.footer-mailing__caption {
  text-align: center;
  margin-bottom: 20px;
}
.footer-mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-mailing__email-label {
  max-width: 450px;
  width: 100%;
}
.footer-mailing__email {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--color-white);
  border-radius: 4px;
  -webkit-transition: border;
  transition: border;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.footer-mailing__submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer-mailing__email:focus {
  border-color: var(--color-blue);
}
@media screen and (min-width: 768px) {
  .footer-mailing__email {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mailing {
    width: auto;
    margin-left: auto;
  }
  .footer-mailing__caption {
    text-align: start;
  }
  .footer-mailing__email {
    width: 358px;
    margin-bottom: 0;
  }
  .footer-mailing__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-mailing__submit-button {
    margin-left: 12px;
  }
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
.filters-list__button {
  padding: 6px 25px;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03;
  color: var(--color-almost-black);
  background-color: var(--color-dark-white);
  -webkit-transition: color, background-color, -webkit-box-shadow;
  transition: color, background-color, -webkit-box-shadow;
  transition: color, background-color, box-shadow;
  transition: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
  cursor: pointer;
}
.filters-list__button:hover, .filters-list__button:focus {
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .filters-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-element {
  min-width: 290px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.portfolio-element__link {
  display: block;
  color: var(--color-almost-black);
  height: 100%;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow;
  transition: -webkit-box-shadow;
  transition: box-shadow;
  transition: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio-element__image {
  display: block;
  width: 100%;
}
.portfolio-element__link:hover, .portfolio-element__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-element__link:hover .animation-container__element, .portfolio-element__link:focus .animation-container__element {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media screen and (min-width: 768px) {
  .portfolio-element {
    max-width: calc(50% - 15px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-element {
    width: 370px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.element-desription {
  padding: 20px 24px;
  border: 1px solid var(--color-border-two);
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.element-desription__name {
  margin-bottom: 4px;
  display: block;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.element-desription__type {
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-grey);
}

.slide-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.slide-social__item:not(:first-child) {
  padding-left: 10px;
}
@media screen and (max-width: 400px) {
  .slide-social__item:not(:last-child) {
    padding-right: 1px;
  }
  .slide-social__item:not(:first-child) {
    padding-left: 1px;
  }
}

.slide-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--color-blue);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  transition-duration: var(--default-animation-duration);
}
.slide-social__link:hover {
  color: var(--color-dark-blue);
}
.slide-social__link:focus {
  color: var(--color-dark-blue);
}

.page-header {
  border-bottom: 1px solid var(--color-border-one);
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .navigation {
    width: auto;
  }
}

.page-main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-window-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
  opacity: 1;
  z-index: 1;
  display: block;
}
.modal-window-container.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-window-container.display-none {
  display: none;
}
.modal-window-container.is-hidden .modal-window {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal-window {
  position: fixed;
  width: 450px;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.modal-window__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.modal-window__close-button:hover, .modal-window__close-button:focus {
  fill: var(--color-blue);
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}

.page-footer {
  padding: 60px 0;
  background-color: var(--color-dark);
}
.page-footer__container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.slide-bar {
  visibility: hidden;
  padding: 48px 40px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-white);
  -webkit-transition: visibility, -webkit-transform;
  transition: visibility, -webkit-transform;
  transition: transform, visibility;
  transition: transform, visibility, -webkit-transform;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  transition-duration: var(--default-animation-duration);
}
.slide-bar .slide-bar-button {
  position: absolute;
  top: 15px;
  right: 11px;
  cursor: pointer;
}
.slide-bar .slide-bar-button:hover .slide-bar-button__image {
  fill: var(--color-dark-blue);
}
.slide-bar .slide-bar-button:focus .slide-bar-button__image {
  fill: var(--color-dark-blue);
}
.slide-bar .slide-bar-button__image {
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.slide-bar .slide-bar-navigation {
  margin-bottom: auto;
}
.slide-bar .slide-bar-navigation-list__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--color-almost-black);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  transition-duration: var(--default-animation-duration);
}
.slide-bar .slide-bar-navigation-list__link:hover {
  color: var(--color-blue);
}
.slide-bar .navigation-list__link--selected {
  color: var(--color-blue);
}
.slide-bar .slide-bar-header-contacts__phone {
  display: block;
  margin-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.0625;
  letter-spacing: 0.02em;
  color: var(--color-blue);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  transition-duration: var(--default-animation-duration);
}
.slide-bar .slide-bar-header-contacts__phone:hover {
  color: var(--color-dark-blue);
}
.slide-bar .slide-bar-header-contacts__phone:focus {
  color: var(--color-dark-blue);
}
.slide-bar .slide-bar-header-contacts__email {
  display: block;
  margin-bottom: 64px;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  transition-duration: var(--default-animation-duration);
}
.slide-bar .slide-bar-header-contacts__email:hover {
  color: var(--color-blue);
}
@media screen and (max-width: 400px) {
  .slide-bar {
    padding: 48px 10px;
  }
}

.is-open.slide-bar {
  visibility: visible;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}/*# sourceMappingURL=main.css.map */