.our-team-list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  &__element {
    flex-grow: 1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--color-white);
    flex-grow: 1;
    min-width: 100%;
  }

  &__image {
    flex-grow: 1;
    min-width: 100%;
    display: block;
  }

  @media screen and (min-width: 768px) {
    &__element {
      min-width: 45%;
    }
  }

  @media screen and (min-width: 1200px) {
    &__element {
      min-width: auto;
    }
  }
}
