.adress-info {
  &__adress {
    width: 231px;
    height: 21px;
    font-style: normal;
    line-height: 1.5;
    text-align: center;

    color: var(--color-white);
  }

  &__element {
    margin: auto;
    width: 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
  }

  &__contact {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;

    color: var(--color-grey);

    transition-property: color;
    transition-duration: var(--default-animation-duration);
    transition-timing-function: var(--default-animation);
  }

  &__contact:hover,
  &__contact:focus {
    color: var(--color-blue);
  }

  @media screen and (min-width: 768px) {
    width: calc(50%);
  }

  @media screen and (min-width: 1200px) {
    &__element {
      align-items: flex-start;
    }
    &__adress {
      text-align: start;
    }
  }
}
