.our-clients-element {
  flex-grow: 1;
  width: 40%;
  &__link {
    // min-width: 240px;

    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-grey);
    border: 1px solid var(--color-light-grey);
    border-radius: 4px;

    transition: color, border;
    transition-duration: var(--default-animation-duration);
    transition-timing-function: var(--default-animation);
  }

  &__link:hover,
  &__link:focus {
    color: var(--color-blue);
    border-color: var(--color-blue);
  }

  &__image {
    display: block;
    position: absolute;
    fill: currentColor;
  }
  @media screen and (min-width: 768px) {
    width: 30%;
    min-width: 226px;
  }

  @media screen and (min-width: 1200px) {
    flex-grow: 0;
    min-width: 170px;
    width: 170px;
  }
}
